<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULÁRIO DE PAGAMENTO</title>
    <style type="text/css">
      .historicotext {
        text-transform: none !important;
        word-break: break-all;
      }
      .container {
      margin-top: 30px;
      margin-left: 140px;
      margin-right: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .container2 {
        display: inline;
        margin-left: 290px;
        text-align: center;
      }
      .primaryColor {
       /* background: cornflowerblue;*/
        padding: 0px;
      }
      .imgFundo {
        width: 100%;
        height: 20px;
        margin: -5px;
        border: 1px solid black;
      }
      h1 {
        padding-left: 10px;
      }
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        margin: 0px;
        padding:5px ;
        width: 700px;
      }
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
      <div class="container2">
        <img src="https://www.selladm.com.br/wp-content/uploads/2022/03/Logo-Sell-Administradora.png">
        <h1>Formulário de contas a pagar</h1>
      </div>
    <div class="container">
      <form autocomplete="off" id="form-pgto">
        <table>
          <tr>
            <th>COD</th>
            <th>CONDOMÍNIO</th>
          </tr>
          <tr>
            <td>
              <span><%= codCond %></span>
            </td>
            <td>
              <span><%= nomeCond %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>CNPJ</td>
            <td>
              <span><%= cnpjCond %></span>
            </td>
          </tr>
          <tr>
            <td>DATA PARA PAGAMENTO</td>
            <td>
              <span><%= dataPag %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>VALOR</td>
            <td>
              R$: <span><%= valorPag %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>FORMA DE PAGAMENTO</td>
            <td>
              <span><%= formaDePagamento %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>FAVORECIDO</td>
            <td>
              <span style="text-transform: uppercase; word-break: break-all;"><%= nomeFavorecido %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>CPF/CNPJ</td>
            <td>
              <span><%= cpfCnpjFavorecido %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>BANCO</td>
            <td>
              <span><%= nomeBanco %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>AGÊNCIA</td>
            <td>
              <span><%= agenciaBnc %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>
              <span style="text-transform: uppercase;">CONTA <%= tipoConta %></span>
            </td>
            <td>
              <span><%= contaBnc %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>CONTA CONTÁBIL</td>
            <td>
              <span><%= tipoContabil %></span>
            </td>
          </tr>
          <tr>
            <td>DATA/HORA</td>
            <td>
              <span><%= dataHora %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>ASSINATURA GERENTE</td>
            <td>
              <span><%= nomeGerente %></span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td>ANEXOS:</td>
            <td>
              <span style="text-transform: uppercase"><%= tipoAnexo %></span>
            </td>
          </td>
          <tr>
            <td colspan="2" class="primaryColor"><img src="https://htmlcolorcodes.com/assets/images/colors/cornflower-blue-color-solid-background-1920x1080.png" class="imgFundo"></td>
          </tr>
          <tr>
            <td style="padding-bottom:80px;">HISTÓRICO:</td>
            <td>
              <span class="historicotext"><%= historico %></span>
            </td>
          </tr>
        </table>
      </form>
      <br>
    </div>
  </body>
</html>
